extends layout

block content
  p Welcome to Spooter!
  canvas#spooterCanvas(width="640", height="480").
    Your browser does not support the HTML5 canvas tag.

  script(src="public/javascripts/spooter.js")
