doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(src="javascripts/external/socket.io.js")
  script(src="javascripts/communication.js")
  script(src="javascripts/spooter.js")
