doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(src="http://cdn.socket.io/socket.io-1.3.5.js")
  script(src="javascripts/communication.js")
  script(src="javascripts/spooter.js")
