body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#spooterCanvas {
  border: 1px solid #c3c3c3;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}